html, body {
    margin: 0px;
    width: 100%;
    height: max-content;
}

.root-container {
    width: 100%;
    height: max-content;
}

.introduction-segment {
    background: url('./data_source/images/introduction-segment/introduction_segment_background_image.png');
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
    width: 100%;
    height: 120vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.introduction-segment-title {
    font-size: 200%;
    margin-left: 6%;
    width: 40%;
}

.introduction-segment-about-me {
    text-align: justify;
    font-size: 100%;
    margin-left: 3%;
    width: 50%;
}

.introduction-segment-child {
    display: inline-block;
    vertical-align: middle;
   bottom: 0%;
}