<div class="root-container">
    <div class="introduction-segment segment">
        <h1 class="introduction-segment-title introduction-segment-child">A PROFESSIONAL SOFTWARE ENGINEER WITH THE PASSION TO LEARN AND ZERO ANGULAR SKILLS</h1>
        
        <h5 class="introduction-segment-about-website introduction-segment-child">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam orci risus, placerat ut volutpat eu, iaculis quis purus. Maecenas et dui eu felis lobortis malesuada sed eu risus. Quisque turpis turpis, faucibus vitae odio et, interdum condimentum turpis. Nam vel sapien non metus pharetra gravida. Ut eleifend orci eget nisi ornare consequat. Suspendisse a convallis libero. Nulla consequat ipsum et ipsum aliquam malesuada. Quisque nisl enim, suscipit et tortor sed, rutrum aliquet enim. Curabitur est lectus, hendrerit nec urna pulvinar, volutpat ultrices libero.
        Duis tempor lobortis commodo. Fusce ac pharetra diam. Sed luctus massa mauris. Vestibulum luctus ligula quis nunc ullamcorper pellentesque. Maecenas mollis cursus leo, euismod mattis velit tincidunt et. Suspendisse rhoncus, enim a ullamcorper consequat, turpis tortor sollicitudin ipsum, sit amet egestas leo lacus sed dolor. Duis ut urna a tortor interdum porttitor vitae eget est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec id egestas dolor, ut luctus erat. Quisque at finibus arcu, varius pharetra ipsum. Nam rhoncus varius auctor.
        </h5>
    </div>

    <hr> 

    <div class="about-me-segment segment"> 
        <div class="about-me-prompt">
            <h3>About me</h3>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam orci risus, placerat ut volutpat eu, iaculis quis purus. Maecenas et dui eu felis lobortis malesuada sed eu risus. Quisque turpis turpis, faucibus vitae odio et, interdum condimentum turpis. Nam vel sapien non metus pharetra gravida. Ut eleifend orci eget nisi ornare consequat. Suspendisse a convallis libero. Nulla consequat ipsum et ipsum aliquam malesuada. Quisque nisl enim, suscipit et tortor sed, rutrum aliquet enim. Curabitur est lectus, hendrerit nec urna pulvinar, volutpat ultrices libero.
            Duis tempor lobortis commodo. Fusce ac pharetra diam. Sed luctus massa mauris. Vestibulum luctus ligula quis nunc ullamcorper pellentesque. Maecenas mollis cursus leo, euismod mattis velit tincidunt et. Suspendisse rhoncus, enim a ullamcorper consequat, turpis tortor sollicitudin ipsum, sit amet egestas leo lacus sed dolor. Duis ut urna a tortor interdum porttitor vitae eget est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec id egestas dolor, ut luctus erat. Quisque at finibus arcu, varius pharetra ipsum. Nam rhoncus varius auctor.
            </p>
        </div>

        <div class="about-me-contact-me">
            <span></span>
        </div>
    </div>

    <hr>

    <div class="superheroes-segment segment"> 
        <app-heroes></app-heroes>
    </div>

    <hr> 
    
    <div class="attribution-segment">
        <div>Icons made by <a href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        <div>Icons made by <a href="https://www.flaticon.com/authors/google" title="Google">Google</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </div>
</div>