html, body {
    margin: 0px;
    width: 100%;
    height: max-content;
}

.root-container {
    width: 100%;
    height: max-content;
}

.introduction-segment {
    background: url('../assets/images/background/introduction_segment_background_image.png');
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
    width: 100%;
    height: 90vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.introduction-segment-title {
    font-size: 200%;
    margin-left: 6%;
    width: 40%;
}

.introduction-segment-about-website {
    text-align: justify;
    font-size: 100%;
    margin-left: 3%;
    width: 50%;
}

.introduction-segment-child {
    display: inline-block;
    vertical-align: middle;
    bottom: 0%;
}

.about-me-segment {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-me-prompt {
    margin: 2% 3% 3% 3%; 
    text-align: justify;
    font-size: 120%;
    line-height: 200%;
    margin-bottom: 5%;
} 

.attribution-segment {
    font-size: 16%;
}

.about-me-contact-me {
    text-align: center;
}

.icon {
    margin-left: 6%;
    margin-right: 6%;
}