.introduction-segment {
    background: url('./data_source/images/introduction-segment/introduction_segment_background_image.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.introduction-segment-title {
    font-size: 200%;
    margin-left: 6%;
    width: 40%;
    bottom: 0%;
}

.introduction-segment-about-me {
    font-size: 100%;
    margin-left: 3%;
    bottom: 0%;
    width: 50%;
}

.introduction-segment-child {
    display: inline-block;
    vertical-align: middle;
}