.heroes-slideshow {
    margin-top: 3%;
}

.hero-announcement {
    text-align: center;
    font-size: 150%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heroes-carousel {
    margin-top: 5%;
    margin-bottom: 3%;
}

.item-carousel {
    border-radius: 60%;
    border-color: white;
}